contrib/tiles/src/share/org/apache/struts/tiles/resources/tiles-config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by  () -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT component-definitions (definition+)>
<!ELEMENT tiles-definitions (definition+)>
<!ELEMENT definition (put*, putList*)>
<!ATTLIST definition
	name CDATA #REQUIRED
	path CDATA #IMPLIED
	extends CDATA #IMPLIED
	role CDATA #IMPLIED
	template CDATA #IMPLIED
>
<!ELEMENT put (#PCDATA)>
<!ATTLIST put
	name CDATA #REQUIRED
	value CDATA #IMPLIED
	type (string | page | template | definition) #IMPLIED
	content CDATA #IMPLIED
	direct (true | false) #IMPLIED
>
<!ELEMENT putList (add+)>
<!ATTLIST putList
	name CDATA #REQUIRED
>
<!ELEMENT add EMPTY>
<!ATTLIST add
	value CDATA #REQUIRED
>
